@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e8eff0;
  --foreground: #181818;
  --foreground-muted: #757575;
  --primary: #1acf99;
  --secondary: #1f1f1f;
  --font-sans: var(--font-manrope);
  --font-mono: var(--font-gilda);
  --heroui-background: var(--background);
  --heroui-foreground: var(--foreground);
  --heroui-content1: var(--background);
  --heroui-content2: var(--secondary);
}

.dark {
  --background: #060606;
  --foreground: #ededed;
  --foreground-muted: rgb(173, 173, 173);
  --primary: #cf1a1a;
  --secondary: #141414;
  --heroui-background: var(--background);
  --heroui-foreground: var(--foreground);
  --heroui-content1: var(--background);
  --heroui-content2: var(--secondary);
}

@layer base {
  ::selection {
    background-color: var(--foreground);
    color: var(--background);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    line-height: 1.5;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar::-webkit-scrollbar {
    width: 1px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--foreground);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .itemContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1400px;
    }
  }

  @media (min-width: 1300px) {
    .itemContainer {
      max-width: 1300px;
    }
  }

  .pixelate {
    image-rendering: pixelated;
  }

  .checkoutInput {
    border-width: 1px;
    border-color: var(--foreground);
    background-color: var(--background);
    border-radius: 0.375rem;
    padding: 0.25rem 0.5rem;
  }
}
